{% extends 'base.html' %}
{% block content %}
<section id="faq" class="hero section faq">
    <br>
    <br class="is-hidden-touch">
    <div class="container">
      <div class="columns">
        <div id="faq" class="column is-6 is-offset-3">
          <br class="is-hidden-mobile">
          <strong class="upper-subtitle">questions and</strong>
          <h1 class="is-size-2">
            <strong class="rsvp-label">answers</strong>
          </h1>
          </br>
          </br>
          <strong class="faq-questions">What is the weather like in December?</strong>
          </br>
          <p class="faq-text">
            Hot with a good chance of rain. </br>
            Highs of 88&deg;F / 31&deg;C</br>
            Lows of 73&deg;F / 23&deg;C
            <br>
            <br> Aka, its pretty darn hot in December, so channel your inner Bawa by bringing airy, tropics-friendly clothes
            (think: swim suits, sandals, breathable materials). </p>

          </br>


          <strong class="faq-questions">I'd like to travel around Sri Lanka before/after the wedding. Do you have recommended
            itineraries? </strong>
          </br>
          <p class="faq-text">
            We've written a
            <a href="https://drive.google.com/uc?export=view&id=1Sr8nVw5MMymwQrUkGw5JDueyDpIuIm0T" target="_blank">quick
              guide
            </a>, check it out! We also found this
            <a href="https://www.nicobar.com/guide-sri-lanka-journey/" target="_blank">website</a> that's super helpful.</p>
          </br>

          <strong class="faq-questions">Where can I hire a car/shuttle/bus & driver to travel around Sri Lanka before/after
            the wedding? </strong>
          </br>
          <p class="faq-text">
            Please reach out to
            <a href="mailto:kairosweddings@gmail.com">kairosweddings@gmail.com</a> and they can put you in touch with local
            car shuttle companies.</p>
          </br>

          <strong class="faq-questions">Where can I find Indian clothes? </strong>
          </br>
          <p class="faq-text">
            Beg, borrow, steal! If those don't work, here are a couple online options:
            <br>
            <br>
            <a href="https://www.indianweddingsaree.com" target="_blank">indianweddingsaree.com</a> - Sells more than just
            saris and they have readymade sizes you can choose from. But, buyer beware, if the item is surprisingly inexpensive,
            it will not look as nice as it does in photos.
            <br>
            <br>
            <a href="http://www.sareesaga.com" target="_blank">sareesaga.com</a> - They do custom sizing and other customizations.
            Heard good things about this site.
            <br>
            <br> Other options:
            <a href="https://www.cbazaar.com" target="_blank">cbazaar.com</a>,
            <a href="https://www.kalkifashion.com" target="_blank">kalkifashion.com</a>
          </p>
          <br>
          <strong class="faq-questions">Can I use credit card points to buy plane tickets? </strong>
          </br>
          <p class="faq-text">
            <a href="http://www.awardhunt.com/" target="_blank">This website</a> tells you where you can get to with different
            credit cards. We can't promise it will help, but maybe you'll find a deal!</p>
          </br>
          <br>
          <br>
          {% include 'design.html' %}
  </section>
{% endblock content %}